<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ida:Tenant" value="CaseClosed.onmicrosoft.com" />
    <add key="ida:Audience" value="https://CaseClosed.onmicrosoft.com/CaseClosed.Api.local" />
    <add key="ida:ClientID" value="cd6ad85a-4b11-4aef-aa6b-097f87a5c434|a0b85748-9655-4dd5-b5a3-4fb815182548" />
    <add key="ida:Password" value="9gFq8bmGVFdWFJ36v5pS36mXgrNVqXJaud0Jxpsvptg=|ZRU2fnrYb3Fk+IR31O0IFQ1Poxz4G12G/F5mND863Qs=" />
    <add key="docdb:EndpointUrl" value="https://caseclosed.documents.azure.com:443/" />
    <add key="docdb:AuthorizationKey" value="h7atpDA+g3jL+RdPtJIFkRmZsQhxijhnR9sEiZCwDCvL0zUArY/qxqa9d2/6Yow8GnIJhyItzoHhSIG9/GFpSA==" />
    <add key="docdb:DatabaseId" value="CaseClosed" />
    <add key="docdb:CollectionId" value="Default" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>